<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BrightcoveBulkTranscode.Brightcove" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <BrightcoveBulkTranscode.Brightcove>
            <setting name="AccountNumber" serializeAs="String">
                <value>YourAccountNumber</value>
            </setting>
            <setting name="Client" serializeAs="String">
                <value>YourClientKey</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>YourClientSecret</value>
            </setting>
            <setting name="TranscodeProfile" serializeAs="String">
                <value>YourTranscodeProfileName</value>
            </setting>
            <setting name="AccessTokenUrl" serializeAs="String">
                <value>https://oauth.brightcove.com/v3/access_token</value>
            </setting>
            <setting name="IngressVideoUrl" serializeAs="String">
                <value>https://cms.api.brightcove.com/v1/accounts/{0}/videos</value>
            </setting>
            <setting name="IngressToken" serializeAs="String">
                <value>YourIngressToken</value>
            </setting>
            <setting name="IngressVideoSearch" serializeAs="String">
                <value>http://api.brightcove.com/services/library?command=search_videos&amp;token={0}&amp;video_fields=id,name&amp;sort_by=DISPLAY_NAME&amp;get_item_count=true&amp;page_number={1}</value>
            </setting>
            <setting name="PageSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RetranscodeUrl" serializeAs="String">
                <value>https://ingest.api.brightcove.com/v1/accounts/{0}/videos/{1}/ingest-requests</value>
            </setting>
            <setting name="UseArchivedMaster" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RetranscodeIngressProfile" serializeAs="String">
                <value>YourTranscodeProfileName</value>
            </setting>
        </BrightcoveBulkTranscode.Brightcove>
    </applicationSettings>
</configuration>